.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo{
  width: 100px;
}
.nav-items > ul{
  display: flex;
  padding: 0px 20px;
}
.nav-items > ul > li {
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  list-style-type: none;
}
.res-card{
  padding: 5px; 
  width: 300px;
}
.res-card:hover{
  border: 1px solid black;
  cursor: pointer;
}

.search{
padding: 10px ;
}
.res-logo{
  width: 100%; 
}
.res-container{
  display: flex;
  flex-wrap: wrap ;
  margin: 10px;
  gap: 10px;
}
.search-container{
  margin: 10px;
  display: flex;
  gap: 10px;
}